<hr>
<div class=footContainer>
  <div class="footLeft">  
    Copyright &copy; 2024
		<span aria-label="rocket emoji">🚀</span>
    Kirima
  </div>
  
  <div class="footRight">
    <p>Find me on</p>
    <a href="https://github.com/kelvinkirima014" target="_blank">
      <img src="{{ get_url(path='github.png', trailing_slash=false) | safe }}" alt="GitHub" class="social-icon">
    </a>
    <a href="https://www.linkedin.com/in/kelvin-kirima-25b010184/" target="_blank">
     <img src="{{ get_url(path='linkedin.svg', trailing_slash=false) | safe }}" alt="LinkedIn" class="social-icon">
    </a>
    <a href="https://twitter.com/014kirima" target="_blank">
      <img src="{{ get_url(path='twitter.svg', trailing_slash=false) | safe }}" alt="Twitter" class="social-icon">
    </a>
    
  </div>
</div>
